# # CHAPTER 3 판다스 데이터프레임과 시리즈

# 시리즈 만들기

In [3]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s, "\n")

s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s, "\n")

0    banana
1        42
dtype: object

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [4]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]
})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

데이터 프레임도 시리즈와 마찬가지로 인덱스를 따로 지정하지 않으면 인덱스를 0부터 자동 생성한다. 따로 지정하려며 index 인자에 리스트를 전달하면 된다.

In [10]:
scientists = pd.DataFrame(
    data={
        'Occupation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-16', '1937-10-16'],
        'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

데이터프레임은 만들어질 때 딕셔너리를 전달한다. 그런데 딕셔너리는 키와 값으로 이루어진 한 쌍의 데이터들의 순서는 보장하지 않는다. 만약 순서가 보장된 딕셔너리를 전달하려면 OrderedDict를 사용해야 한다. 다음과 같이 입력하면 딕셔너리의 데이터 순서를 그대로 유지하면서 데이터 프레임을 만들 수 있다.

In [11]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

먼저 변수 scientists에 데이터 프레임을 준비한다.

In [12]:
scientists = pd.DataFrame(
    data={
        'Occupation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-16', '1937-10-16'],
        'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']
)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [13]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [14]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# 시리즈 속성과 메서드 사용하기 ㅡ index, values, keys 사용하기

In [17]:
print("Index 속성: ", first_row.index, "\n")
print("values 속성: ", first_row.values, "\n")
print("keys 속성: ", first_row.keys(), "\n")
print("keys 속성 응용: ", first_row.keys()[0])

Index 속성:  Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

values 속성:  ['Statistician' '1876-06-13' '1937-10-16' 61]

keys 속성:  Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

keys 속성 응용:  Occupation

# 시리즈의 기초 통계 메서드, mean, min, max, std 메서드 사용하기

In [27]:
ages = scientists['Age']
print("[ AGES ]");
print(ages, "\n")
print("mean method: ", ages.mean(), "\n")
print("min method: ", ages.min(), "\n")
print("max method: ", ages.max(), "\n")
print("std method: ", ages.std(), "\n")

[ AGES ]
Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

mean method:  49.0

min method:  37

max method:  61

std method:  16.97056274847714

<b>● 시리즈 메서드 정리</b><br>
append: 2개 이상의 시리즈 연결<br>
describe: 요약 통계량 계산<br>
drop_duplicates: 중복값이 없는 시리즈 반환<br>
equals: 시리즈에 해당 값을 가진 요소가 있는지 확인<br>
get_values: 시리즈 값 구하기(values 속성과 동일)<br>
isin: 시리즈에 포함된 값이 있는지 확인<br>
min: 최솟값 반환<br>
max: 최댓값 반환<br>
mean: 산술 평균 반환<br>
median: 중간값 반환<br>
replace: 특정 값을 가진 시리즈 값을 교체<br>
sample: 시리즈에서 임의의 값을 반환<br>
sort_values: 값을 정렬<br>
to_frame: 시리즈를 데이터프레임으로 변환

# 시리즈와 불린 추출 사용하기

In [29]:
scientists = pd.read_csv('../data/scientists.csv')
ages = scientists['Age']
print(ages.max(), "\n")
print(ages.mean(), "\n")
print(ages[ages > ages.mean()], "\n")
print(ages > ages.mean(), "\n")
print(type(ages > ages.mean()))

90

59.125

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

<class 'pandas.core.series.Series'>

In [30]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

ages > ages.mean()의 결괏값의 개수가 여러 개일 수 있는 이유는, 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 브로드캐스팅을 수행하기 때문이다. 그리고 시리즈처럼 여러 개의 값을 가진 데이터를 벡터라고 하고 단순 크기를 나타내는 데이터를 스칼라라고 한다. (시리즈는 벡터의 한 종류이다.)

In [32]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [35]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [33]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [34]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [36]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [37]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

길이가 서로 다른 벡터를 연산하면 위 예제처럼 같은 인덱스의 값 까지만 계산하게 된다.

In [38]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [39]:
print(ages * 2)
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

역순으로 정렬한 데이터와 원래의 데이터를 더하면 역순으로 더해질 것 같지만 그렇지 않다. 동일한 인덱스끼리 연산을 수행하기 때문에 값은 ages * 2와 같게 나온다.

# 데이터프레임과 불린 추출

In [40]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [56]:
print(scientists.loc[[True]])

ValueError: Item wrong length 1 instead of 8.

# 데이터프레임과 브로드캐스팅

In [57]:
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [58]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [61]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [62]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

위 예제를 각각 데이터 프레임에 열로 추가한다.

In [64]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
scientists.head()

,Name,Born,Died,Age,Occupation,born_dt,died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14

In [65]:
print(scientists.shape)

(8, 7)

이제 died에서 born을 빼면 얼마나 세상을 살다가 떠났는지 알 수 있다.

In [67]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

가끔은 데이터를 섞어야 하는 경우가 발생하는데 이 때엔 random 라이브러리를 이용한다.

In [69]:
import random
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [75]:
print(scientists.columns, "\n")
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

지금까지는 데이터를 추출하고 처리하는 방법을 배웠다. 이제는 데이터를 저장하는 방법을 배워본다. 판다스는 데이터를 저장하는 다양한 방법을 제공한다. 그 중 피클에 대해서 알아보자.

피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법이다. 피클로 저장하면 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있어 편리하다. 시리즈를 피클로 저장하려면 to_pickle 메서드를 사용하면 되는데, 이 때 저장 경로를 문자열로 전달해야 한다.

In [80]:
names = scientists['Name']
names.to_pickle('../output/scientists_df.pickle')]

In [82]:
scientists.to_pickle('../output/scientists_df.pickle')

In [85]:
scientists_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [87]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   90        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   61             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   41           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV 불러오기

In [99]:
# scientists['Name'].to_csv('../output/scientist_names_series.csv')
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [92]:
names_df = names.to_frame()

import xlwt
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl
names_df.to_excel('../output/scientists_names_series_df.xlsx')